*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
nav{
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: black;
    position: fixed;
}
.social-icons{
    margin-top: 7px;
    padding-right: 50px;
}
.mid-menu{
    column-gap: 16px;
}
.logo{
    padding-left: 90px;
}
nav div{
    display: flex;
    color: white;
}
nav p:hover{
    color: lightblue;
}
nav a{
    text-decoration: none;
}
nav p{
    color: white;
}

/* Body  starts here */

.container{
    top: 60px;
    width: 100%;
    color: white;
}
.banner{
    object-fit: cover;
    top: 60px;
    background-image: url(./images/pizza.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.heading{
    font-size: 85px;
}
.red-rect{
    margin-bottom: 30px;
    background-color: rgba(242, 76, 76, 1);
    width: 480px;
    height: 12px;
}
.head-desc{
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}
.banner .content{
    padding: 10% 5%;
}
.about{
    color: white;
    margin-top: 40px;
}

.about-head{
    font-size: 50px;
    text-align: center;
}
.head-under{
    background-color: rgba(242, 76, 76, 1);
    width: 300px;
    height: 8px;
    margin: auto;
}
.content-about{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 60px;
}
.about-desc .red-line-about{
    background-color: rgba(242, 76, 76, 1);
    height: 4px;
    width: 500px;
    margin-bottom: 10px;
}
.about-desc{
    line-height: 45px;
    font-size: 20px;
    width: 700px;
}

/* menu */

.food-menu{
    padding: 40px;
    color: white;
    margin: 0px 70px;
}
.menu-div{
    margin-top: 50px;
    line-height: 30px;
    font-size: 19px;
}
.menu-items .item{
    display: flex;
    width: 550px;
    margin-top: 50px;
}
.item-desc h2{
    color: rgba(242, 201, 76, 1);
}
.item-desc{
    margin-left: 30px;
}
.menu-items{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 20px;
}
.find-con{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    gap: 40px;
}
footer img{
    margin-top: 30px;
    margin-left: 70px;
    width: 90%;
}
